DJANGO_SECRET_KEY=django-insecure-change-me-for-local-development-only
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_LANGUAGE_CODE=pt-br
DJANGO_TIME_ZONE=America/Sao_Paulo

DB_ENGINE=django.db.backends.postgresql
DB_NAME=adocao_pet
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60

POSTGRES_DB=adocao_pet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres