<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Adoção</title>


    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>

    {% include 'nav.html' %}

    <h1 class="text-center my-5">Pets para Adoção</h1>

    {% if pets %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for pet in pets %}
            <div class="col" data-pet-name="{{ pet.nome|lower }}">
                <div class="card h-100 shadow-sm">
                    {% if pet.foto_principal %}
                    <img src="{{ pet.foto_principal.imagem.url }}" class="card-img-top" alt="{{ pet.nome }}"
                        style="height: 400px; object-fit: cover;">
                    {% else %}
                    <p>Nenhuma imagem disponível</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ pet.nome }}</h5>
                        <p class="card-text">
                            <strong>Espécie:</strong> {{ pet.especie }}<br>
                            <strong>Raça:</strong> {{ pet.raca }}<br>
                            <strong>Idade:</strong> {{ pet.idade }} anos<br>
                            <strong>Porte:</strong> {{ pet.get_porte_display }}<br>
                            <strong>Descrição:</strong> {{ pet.descricao }}<br>
                            <strong>Vacinado:</strong> {{ pet.vacinado|yesno:"Sim,Não" }}<br>
                            <strong>Castrado:</strong> {{ pet.castrado|yesno:"Sim,Não" }}

                        <div>
                            <a href="{% url 'detalhes_adocao' pet.id %}" class="btn btn-outline-primary w-100">
                                Ver Detalhes
                            </a>
                        </div>

                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p class="text-center text-muted">Nenhum pet disponível para adoção no momento.</p>
    {% endif %}
</body>