<div class="d-flex w-100 justify-content-between">
    <div class="d-flex align-items-center gap-3">
        <h5 class="mb-1">{{ solicitacao.pet.nome }}</h5>
        <a href="{% url 'detalhes_adocao' solicitacao.pet.id %}">
            <i class="fa fa-external-link" aria-hidden="true" style="color: black;"></i>
        </a>
    </div>
    <small>{{ solicitacao.data_pedido|date:"d/m/Y H:i" }}</small>
</div>
<p class="mb-1">
    <strong>Status:</strong>
    {{ solicitacao.get_status_display }}
</p>